@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{margin: 0; padding: 0;}
body{
	font-family: 'Lato', sans-serif;
}
.navbar{
	background-color: #F6F9F9;
  .container{
    h3{
      color: #2d3950;
    }
  .navbar-nav{
    margin-right: 40px;
    .nav-item{
      padding-left: 10px;
    }
    a{
      color: #2d3950;
    }
  }
}
}
#showcase{
	background: url("../img/hb_overly.png");
	background-size: cover;
	position: relative;
	min-height: 600px;
	.overly{
		background: rgba(123, 132, 144, 0.1);
		min-height: 600px;
		.container{
			/**width: 50%;**/
			padding-top: 130px;
			h1{
				border-bottom: 3px solid #15A4FA;
			}
		.btn{
			border-color: #15A4FA;
			border-radius: 1px;
		}
		.btn:hover{
			border-color: #fff;
		}
		.fa{
			color: #fff;
			font-size: 27px;
		}
	}
	}
}
#middle_content{
	background: #F6F9F9;
	h2{
		color: #2d3950;
	}
	p{
		color: #999999;
	}
}
#icon_display{
	background-color: #fff;
	.container{
		img{
			height: 70px;
			width: 70px;
			padding: 20px;
			background-color: #5FC3FF;
			transition: all 0.3s;
			background-size: 200% 100%;
	    background-image: linear-gradient(to left, #48BAFF 50%, #5FC3FF 50%);
	    color: #48BAFF;
		}
		img:hover{
			background-position: -100% 0;
	    color: #5FC3FF;
		}
	h6{
		color: #2d3950;
	}
	p{
		color: #999999;
	}
}
}
#gallary_header{
	background-color: #F6F9F9;
	h2{
		color: #2d3950;
	}
	p{
		color: #909090;
	}
}
#gallary{
	background-color: #F6F9F9;
	padding-bottom: 100px;
	.container{
	.overly_wrap{
		position: relative;
		display: block;
	.image{
		width: 356px;
		height: 100%;
	}

	.overlay{
		position: absolute;
		top: 0;
		bottom: 0;
		/**left: auto;
		right: auto;**/
		width: 356px;
		height: 100%;
		margin: 0 auto;
		opacity: 0;
		transition: .3s ease;
		background-color: #2AACFA;

	.overly_img{
	margin-top: 30%;
	margin-right: 7px;
	}
}
}
}
.overly_wrap:hover .overlay{
 opacity: 0.8;
 .overly_img:hover{
   background-color: #15A4FA;
 }
}
}

#footer_top{
	background-image: url(../img/footer_top_bacground.png);
	min-height: 600px;
	.prinery-overly{
		background: rgba(64, 75, 97, 0.8);
		min-height: 600px;
		.position-set{
			/**margin: 0 auto;
			width: 50%;**/
			h1{
				color: #ffffff;
			}
			p{
				color: #999999;
			}
			input{
				background-color: transparent;
				border-color: #999999;
				border-radius: 2px;
			}
			textarea{
				background-color: transparent;
				border-color: #999999;
				border-radius: 1px;
				color:#999999;
			}
			.submit-option{
				.check_box{
					margin-top: 10px;
					float: left;
					position: relative;
					input[type=checkbox]{
						display: none;
					}
					input[type=checkbox] + label:before{
						content: "";
						height: 20px;
						width: 20px;
						border: 1px solid #9AA0A9;
						background: #9AA0A9;
						display: inline-block;
						vertical-align: top;
						border-radius: 5px;
						margin-top: 3px;
						margin-right: 10px;
					}
					input[type=checkbox]:checked + label:before{
						content: "\2713";
						text-align: center;
						font-size: 13px;
						background: #fff;
						border: 1px solid #fff;
					}
					label{
						cursor: pointer;
					}
					span{
						color: #ffffff;
					}
					/**label{
						color: #ffffff;
						font-size: 15px;
						margin: 5px 0px 0 5px;
					}**/
				}
				button{
					float: right;
					border: 1px solid #15A4FA;
					border-radius: 3px;
				}
				button:hover{
					border: 1px solid #fff;
				}
			}
		}
	}
}
#footer{
	min-height: 80px;
	background-color: #F6F9F9;
	.left{
		float: left;
		p{
			color: #999999;
			font-size: 13px;
			padding: 35px 0 0 20px;
		}
	}
	.right{
		float: right;
		img{
			padding: 25px 5px 0px 0px;
		}
	}
}



@media (max-width: 767px){
	#showcase{
		display: none;
	}
	.overlay{
		left:17%;
	}
}

